*.pyc
*.cpython-37.pyc
rar/
__pycache__/
xlsx/
logs/
csv/all_clean.csv
csv/full_mids.csv
csv/coef_frame.csv
csv/bid_ask_mid.csv
csv/fully_forward_filled.csv
csv/All_Fut_FX_Data*
csv/trade_summaries/*
csv/trade_summary*